<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http:/www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/page.html}">
<head>
</head>
<body>

<div layout:fragment="content">

    <div class="card-header">
        <h2>List Of Order</h2>
        </div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Creator</th>
        <th scope="col">Create Date</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Receiver</th>
        <th scope="col">Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${orderPage}">
        <td th:text="${item.order_id}"></td>
        <td th:text="${item.user.fullname}"></td>
        <td th:text="${item.createDate}"></td>
        <td th:text="${item.totalAmount}"></td>
        <td th:text="${item.phone}"></td>
        <td th:text="${item.address}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.email}"></td>
        <td>
            <a th:href="'/order/detail/' + ${item.order_id}">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
    <nav aria-label="Page navigation example" th:if="${orderPage.totalPages > 0}">
        <ul class="pagination pagination-sm justify-content-center">
            <li th:class="${orderPage.number + 1 == 1} ? 'page-item active' : 'page-item'">
                <a th:href="@{/order/list(name=${name}, size=${orderPage.size}, page=${1})}"
                   class="page-link">First</a>
            </li>

            <li class="page-item active" th:each="pageNumber : ${pageNumbers}"
                th:if="${orderPage.totalPages > 1}"
                th:class="${pageNumber == orderPage.number + 1} ? 'page-item active' : 'page-item'">
                <a th:href="@{/order/list(name=${name}, size=${orderPage.size}, page=${pageNumber})}"
                   class="page-link" th:text="${pageNumber}"></a>
            </li>


            <li
                    th:class="${orderPage.number + 1 == orderPage.totalPages} ? 'page-item active' : 'page-item'">
                <a th:href="@{/order/list(name=${name}, size=${orderPage.size}, page=${orderPage.totalPages})}"
                   class="page-link">Last</a>
            </li>
        </ul>
    </nav>

</div>


</body>
</html>